/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #000000;
$link-color: #42affa;
$presentation-heading-color: #a51e37;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
